header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6F7378;
    color: white;
    height: 70px;
    margin-bottom: 50px;
}

.button-container{
    display: flex;
    justify-content: center;
}

.container{

    margin: 15px;

    padding: 15px;

    display: flex;

    justify-content: center;

    gap: 15px;


}

.boton1{

    margin: 15px;

    padding: 10px;

    background-color: rgb(40, 40, 71);

    color: white;

}

